section {
    padding: 40px;

    input {
        width: 100%;
    }

    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}