header {
  background-color: var(--white);
  height: var(--header-height);
  span {
    position: absolute;
    top: 24px;
    left: 24px;
  }

  h1 {
    color: var(--primary-gold);
  }
}
