header {
  background-color: #ffff;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    position: absolute;
    top: 24px;
    left: 24px;
  }

  h1 {
    color: var(--primary-gold);
  }
}
