header {
    background-color: #FFFF;
  display: flex;
  justify-content: center;
  img {
    width: 30%;
  }
  -webkit-box-shadow: 0px 15px 16px 0px rgba(168, 142, 86, 0.8);
  -moz-box-shadow: 0px 15px 16px 0px rgba(168, 142, 86, 0.8);
  box-shadow: 0px 15px 16px 0px rgba(168, 142, 86, 0.8);
}
