header {
  position: sticky;
  top:0;
  background-color: #ffff;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 0px 15px 16px 0px rgba(168, 142, 86, 0.8);
  -moz-box-shadow: 0px 15px 16px 0px rgba(168, 142, 86, 0.8);
  box-shadow: 0px 15px 16px 0px rgba(168, 142, 86, 0.8);
  img {
    width: 70%;
  }

  h1 {
    color: rgba(168, 142, 86, 1);
  }
}
