main {
    display: flex;
}

article {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 28px;

    aside {
        position: sticky;
        top: 0;
        z-index: 2;
    }
}

.content {
    display: flex;
    gap: 120px;
}