main {
    display: flex;
}

article {
    margin-left: 250px;
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    gap: 28px;

    aside {
        position: sticky;
        top: 0;
        z-index: 2;
    }
}

.content {
    display: flex;
    gap: 120px;
}