section {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.25);
  border-right: 1px solid var(--primary-gold);
  overflow-y: auto;

  .header-height {
    height: var(--header-height);
    border-bottom: 1px solid var(--primary-gold);
  }
}
