section {
  aside {
    display: flex;
    align-items: center;
    gap: 20px;

    div {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      padding: 20px;
      border: 2px solid rgba(168, 142, 86, 1);
      border-radius: 50%;

      &:hover {
        cursor: pointer;
        font-size: 32px;
        border: px solid rgba(168, 142, 86, 1);
      }
    }
  }
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
