section {
  .additem {
    display: flex;
    align-items: center;
    gap: 20px;

    a {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      padding: 20px;
      border: 2px solid var(--primary-gold);
      border-radius: 50%;

      &:hover {
        cursor: pointer;
        font-size: 32px;
      }
    }
  }
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.searchfield {
  position: relative;
  display: inline-block;
}

.searchfield input {
  width: 400px;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border: 1px solid var(--primary-gold);
  border-radius: 30px;
  background-color: transparent;
  outline: none;
}

.searchfield mat-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #777;
  font-size: 22px;
}
