<section>
  <article>
    <aside class="additem">
      <span>Hinzufügen</span>
      <a (click)="openDialog()">+</a>
    </aside>

    <aside class="searchfield">
      <input type="text" placeholder="Suchen..." />
      <mat-icon>search</mat-icon>
    </aside>
  </article>


  <!-- <ul>
    <li *ngFor="let item of itemService.items()">
      {{ item.name }}, {{ item.amount }}, {{ item.description }}
    </li>
  </ul> -->

  <div class="items-grid">
    <app-single-item></app-single-item>
    <app-single-item></app-single-item>
    <app-single-item></app-single-item>

  </div>
</section>