section {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: #ffff;
  padding: 0 24px;
  border-right: 2px solid var(--primary-gold);
  overflow-y: auto;

  .logo-area {
    height: var(--header-height);
  }
}
