* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --primary-gold: rgb(168, 142, 86);
  --white: rgb(255, 255, 255);
  --header-height: 80px;
}

body {
  background-color: rgba(0, 0, 0, 0.05);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.box-shadow {
  -webkit-box-shadow: 14px 15px 16px 0px rgba(168, 142, 86, 0.8);
  -moz-box-shadow: 14px 15px 16px 0px rgba(168, 142, 86, 0.8);
  box-shadow: 14px 15px 16px 0px rgba(168, 142, 86, 0.8);
}

button {
  padding: 8px;
  border-radius: 20px;
  border: 1px solid var(--primary-gold);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}